CREATE DATABASE IF NOT EXISTS `${PDNS_AUTH_DB_NAME}` CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

CREATE USER IF NOT EXISTS '${PDNS_AUTH_DB_USER}'@'%' IDENTIFIED BY '${PDNS_AUTH_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON `${PDNS_AUTH_DB_NAME}`.* TO '${PDNS_AUTH_DB_USER}'@'%';

CREATE USER IF NOT EXISTS '${POWERADMIN_DB_USER}'@'%' IDENTIFIED BY '${POWERADMIN_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON `${POWERADMIN_DB_NAME}`.* TO '${POWERADMIN_DB_USER}'@'%';

FLUSH PRIVILEGES;
