CREATE DATABASE IF NOT EXISTS `${PDNSSTACK_AUTH_DB_NAME}` CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

CREATE USER IF NOT EXISTS '${PDNSSTACK_AUTH_DB_USER}'@'%' IDENTIFIED BY '${PDNSSTACK_AUTH_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON `${PDNSSTACK_AUTH_DB_NAME}`.* TO '${PDNSSTACK_AUTH_DB_USER}'@'%';

CREATE USER IF NOT EXISTS '${PDNSSTACK_POWERADMIN_DB_USER}'@'%' IDENTIFIED BY '${PDNSSTACK_POWERADMIN_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON `${PDNSSTACK_POWERADMIN_DB_NAME}`.* TO '${PDNSSTACK_POWERADMIN_DB_USER}'@'%';

FLUSH PRIVILEGES;
