addLocal("0.0.0.0:53", { doTCP=true })

webserver("${PDNSSTACK_DNSDIST_IPV4}:8083", "${PDNSSTACK_DNSDIST_WEB_PASSWORD}", "${PDNSSTACK_DNSDIST_WEB_PASSWORD}")
controlSocket("${PDNSSTACK_DNSDIST_IPV4}:5199")
setKey("${PDNSSTACK_DNSDIST_CONSOLE_KEY}")

setACL({
  "127.0.0.0/8",
  "${PDNSSTACK_LAN_ALLOWED_CIDR}",
  "${PDNSSTACK_NETWORK_IPV4_SUBNET}",
  "${PDNSSTACK_NETWORK_IPV6_SUBNET}"
})

setPoolServerPolicy(firstAvailable)

newServer({
  address="${PDNSSTACK_CACHE_INT_IPV4}:${PDNSSTACK_CACHE_INT_INTERNAL_DNS_PORT}",
  name="pdnsstack-cache-int",
  pool="default"
})

-- BEGIN_NGN
newServer({
  address="${PDNSSTACK_CACHE_NGN_IPV4}:${PDNSSTACK_CACHE_NGN_INTERNAL_DNS_PORT}",
  name="pdnsstack-cache-ngn",
  pool="ngn"
})

ngnDomains = newSuffixMatchNode()
ngnDomains:add(newDNSName("flets-east.jp."))
ngnDomains:add(newDNSName("flets-west.jp."))
ngnDomains:add(newDNSName("flets."))

addAction(SuffixMatchNodeRule(ngnDomains), PoolAction("ngn"))
-- END_NGN

addAction(AllRule(), PoolAction("default"))
