[Unit]
Description=PowerDNS Stack Weekly MariaDB Backup Timer

[Timer]
OnCalendar=${PDNSSTACK_BACKUP_SCHEDULE}
Persistent=true

[Install]
WantedBy=timers.target
