incoming:
  listen:
    - "${PDNSSTACK_CACHE_NGN_IPV4}:${PDNSSTACK_CACHE_NGN_INTERNAL_DNS_PORT}"
  allow_from:
    - "${PDNSSTACK_NETWORK_IPV4_SUBNET}"
    - "${PDNSSTACK_NETWORK_IPV6_SUBNET}"
    - "${PDNSSTACK_LAN_ALLOWED_CIDR}"

webserver:
  webserver: true
  address: "0.0.0.0"
  port: ${PDNSSTACK_CACHE_NGN_INTERNAL_API_PORT}
  allow_from:
    - "127.0.0.1"
    - "${PDNSSTACK_NETWORK_IPV4_SUBNET}"
    - "${PDNSSTACK_LAN_ALLOWED_CIDR}"
  api_key: "${PDNSSTACK_RECURSOR_API_KEY}"

recursor:
  forward_zones_recurse:
    - zone: "."
      recurse:
# NGN_RECURSE_SERVERS
