launch=gmysql
gmysql-host=${DB_IPV4}
gmysql-port=3306
gmysql-dbname=${PDNS_AUTH_DB_NAME}
gmysql-user=${PDNS_AUTH_DB_USER}
gmysql-password=${PDNS_AUTH_DB_PASSWORD}

local-address=0.0.0.0
local-port=${PDNS_AUTH_INTERNAL_DNS_PORT}

webserver=yes
webserver-address=0.0.0.0
webserver-port=${PDNS_AUTH_INTERNAL_API_PORT}
webserver-allow-from=0.0.0.0/0,::/0

api=yes
api-key=${PDNS_AUTH_API_KEY}
loglevel=4
