<?php
$db_host = '${PDNSSTACK_DB_IPV4}';
$db_port = '3306';
$db_user = '${PDNSSTACK_POWERADMIN_DB_USER}';
$db_pass = '${PDNSSTACK_POWERADMIN_DB_PASSWORD}';
$db_name = '${PDNSSTACK_POWERADMIN_DB_NAME}';
$db_type = 'mysql';
$session_key = '${PDNSSTACK_POWERADMIN_SESSION_KEY}';
$iface_lang = 'en_EN';
$dns_hostmaster = '';
$dns_ns1 = '';
$dns_ns2 = '';
