<?php
$db_host = '${DB_IPV4}';
$db_port = '3306';
$db_user = '${POWERADMIN_DB_USER}';
$db_pass = '${POWERADMIN_DB_PASSWORD}';
$db_name = '${POWERADMIN_DB_NAME}';
$db_type = 'mysql';
$session_key = '${POWERADMIN_SESSION_KEY}';
$iface_lang = 'en_EN';
$dns_hostmaster = '';
$dns_ns1 = '';
$dns_ns2 = '';
