[Unit]
Description=PowerDNS Stack NGN Cache Recursor
After=pdnsstack-net-network.service
Requires=pdnsstack-net-network.service

[Container]
ContainerName=${CACHE_NGN_CONTAINER}
Image=docker.io/powerdns/pdns-recursor:latest
Network=pdnsstack-net.network
IP=${CACHE_NGN_IPV4}
IP6=${CACHE_NGN_IPV6}
Volume=${BASE_DIR}/config/cache-ngn/recursor.yml:/etc/powerdns/recursor.yml:ro,Z
PublishPort=${HOST_IPV4}:${CACHE_NGN_DNS_PORT}:${CACHE_NGN_INTERNAL_DNS_PORT}/udp
PublishPort=${HOST_IPV4}:${CACHE_NGN_DNS_PORT}:${CACHE_NGN_INTERNAL_DNS_PORT}/tcp
PublishPort=${HOST_IPV4}:${CACHE_NGN_API_PORT}:${CACHE_NGN_INTERNAL_API_PORT}/tcp
Exec=pdns_recursor --config-dir=/etc/powerdns --yaml=recursor.yml

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
