[Unit]
Description=PowerDNS Stack MariaDB
After=pdnsstack-net-network.service
Requires=pdnsstack-net-network.service

[Container]
ContainerName=${DB_CONTAINER}
Image=docker.io/library/mariadb:11
Network=pdnsstack-net.network
IP=${DB_IPV4}
IP6=${DB_IPV6}
Environment=MARIADB_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
Volume=${PDNSSTACK_BASE_DIR}/data/db:/var/lib/mysql:Z
Volume=${PDNSSTACK_BASE_DIR}/config/db/my.cnf:/etc/mysql/conf.d/pdnsstack.cnf:ro,Z
PublishPort=${PDNSSTACK_HOST_IPV4}:${DB_PORT}:3306/tcp

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
