[Unit]
Description=PowerDNS Stack PowerAdmin
After=pdnsstack-auth.service
Requires=pdnsstack-auth.service

[Container]
ContainerName=${PDNSSTACK_POWERADMIN_NAME}
Image=docker.io/poweradmin/poweradmin:latest
Network=pdnsstack-net.network
IP=${PDNSSTACK_POWERADMIN_IPV4}
IP6=${PDNSSTACK_POWERADMIN_IPV6}
Volume=${PDNSSTACK_BASE_DIR}/config/poweradmin/config.inc.php:/var/www/html/inc/config.inc.php:ro,Z
PublishPort=${PDNSSTACK_HOST_IPV4}:${PDNSSTACK_POWERADMIN_HTTP_PORT}:${PDNSSTACK_POWERADMIN_CONTAINER_PORT}/tcp

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
