[Unit]
Description=PowerDNS Stack Network

[Network]
NetworkName=${PDNSSTACK_NETWORK_NAME}
Subnet=${PDNSSTACK_NETWORK_IPV4_SUBNET}
Gateway=${PDNSSTACK_NETWORK_IPV4_GATEWAY}
IPv6=true
Subnet=${PDNSSTACK_NETWORK_IPV6_SUBNET}
